*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{
    --fs-h1: 3.2rem;
    --fs-h3: 2.2rem;
    --fs-h4: 1.9rem;
    --fs-P: 1.6rem;

    --fw-h1: 800;
    --fw-h3: 800;
    --fw-h4: 400;
    --fw-p: 400;

    --ff-h1: Inconsolata;
    --ff-h3: Martian;
    --ff-h4: Martian;
    --ff-p: Cinzel;

    --fc-h1: rgb(67, 8, 8);
    --fc-h3: rgb(22, 135, 97);
    --fc-h4: rgb(51, 32, 32);
    --fc-p: rgb(37, 37, 98);

    --margin-h1: 0 0 10px 0;
    --margin-h3: 0 0 8px 0;
    --margin-h4: 0 0 5px 0;
    --margin-p: 0 0 5px 0;

    --global-padding: 10px; 

    --line-hight-h1: 1;
    --line-hight-h3: 1.2;
    --line-height-h4: 1.2;
    --line-hight-p: 2;

}
h1,h3,h4{
    text-align: center;
}
h1{
    font-family: var(--ff-h1);
    font-size: var(--fs-h1);
    font-weight: var(--fw-h1);
    color: var(--fc-h1);
    line-height: var(--line-hight-h1);
    margin: var(--margin-h1);
}
h3{
    font-family: var(--ff-h3);
    font-size: var(--fs-h3);
    font-weight: var(--fw-h3);
    color: var(--fc-h3);
    line-height: var(--line-hight-h3);
    margin: var(--margin-h3);
}
h4{
    font-family: var(--ff-h4);
    font-size: var(--fs-h4);
    font-weight: var(--fw-h4);
    color: var(--fc-h4);
    line-height: var(--line-height-h4);
    margin: var(--margin-h4);
}
p{
    font-family: var(--ff-p);
    font-size: var(--fs-p);
    font-weight: var(--fw-p);
    color: var(--fc-p);
    line-height: var(--line-hight-p);
    margin: var(--margin-p);
}
.conteiner{
    /* width: 100vw; */
    height: auto;
    padding: var(--global-padding);
    display: flex;
    flex-direction: column;
    border: 2px solid black;

}
.header{
    width: 100%;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.galery{
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
.galery::after{
    content: '';
    width: 320px;
    height: 320px;
    margin: var(--global-padding);
}
.text-box, .image{
    width: 320px;
    height: 320px;
    border: 2px solid black;
    padding: var(--global-padding);
    margin: var(--global-padding);
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}